# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ------------------------------
# Dependencies
# ------------------------------
node_modules/

# ------------------------------
# Expo / React Native
# ------------------------------
.expo/
dist/
web-build/
expo-env.d.ts
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# Metro
.metro-health-check*

# ------------------------------
# Environment files (IMPORTANT)
# ------------------------------
.env
.env.*
!.env.example

# ------------------------------
# Build artifacts / caches
# ------------------------------
# TypeScript
*.tsbuildinfo

# EAS
.eas/
# if you generate builds locally
*.apk
*.aab
*.ipa

# ------------------------------
# Native / secrets
# ------------------------------
# Native folders (managed workflow: ignore)
ios/
android/

# Kotlin/Gradle
.kotlin/
*.orig.*

# Keystores / signing keys / provisioning
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ------------------------------
# OS / Editor
# ------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ------------------------------
# Misc
# ------------------------------
app-example/
