services:
  db:
    image: postgres:16
    container_name: ohana-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ohana_pgdata:/var/lib/postgresql/data

volumes:
  ohana_pgdata:
